# Copy this file to server/.env and replace with your MongoDB connection string
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.example.mongodb.net/event_registration?retryWrites=true&w=majority
PORT=5000
